.row{   

    background-color:White; 
    color:black;
    font-size:20px;
}

   

.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:40px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

.rowcontact{ 
    display:flex;
    justify-content:space-between;
}
.row { 
    display:flex; 
    justify-content: space-between;
}
.row{ 
  font-family: poiret one;
}
.row{ 
    display: flex; 
    justify-content: center; 
}
.footer{ 
    display: flex; 
    justify-content: space-between; 
    
} 
.contact{ 
    display: flex;
    justify-content: space-between;
}

.headshot{ 
  width:60px ;  
   color: teal;
} 
body{ 
    background-color: #D8BBCE;


}

.who{
    text-align: center;
    font-size: 40%;
    font-family: Alegreya;
}

h1{
 font-size: 100%;
 text-align: center;
}
.image{
    display: flex;
    
} 


.photo{
    justify-content: space-between;
    width:40%;
    
}

.intro{
    font-size: 100%;
}
